<div class="container">
    <div class="row text-left">
        <div class="col-md-2">
            <h2>Mood Mining</h2>
            </div>
            <div class="col-md-10 col-md-offset-2 col-xs-12">
                <p class="about">Our goal with Mood Mining was to create engaging visualization tools for subjective and somewhat abstract data sets. We used Twitter, LastFM, and Weather API’s, filtered by region. After amassing our data, we passed all of our ‘feelings’ through an algorithm to evaluate the overall positive or negative score of each term. To create our app, we used Angular and Sails with D3 and NVD3 for creating our data visualizations. </p>
            </div>
        </div>

    <div class="row text-center">
        <div class="col-md-12 col-xs-12">

           <div class="row text-left">
               <h2>Brian Van Winkle</h2>
               <div class="col-md-2">

                <p class="about"><a href="http://github.com/bivdub" target="_blank">GitHub</a></p>
                <p class="about"><a href="http://bivdub.github.io" target="_blank">Portfolio</a></p>
            </div>
            <div class="col-md-10 col-xs-12">
                <p class="about">Brian is a fan of classical music, web development, and beer <a href="http://brewsr.herokuapp.com">(Breswr)</a> He is a recent graduate of General Assembly's Web Development Immersive Program and is interested primarily in back end javaScript, and full stack angular. He also dabbles in using Famo.us and d3. Brian's background also includes training as a classical low brass musician, composer, and music theorist, as well time spent in an audio production program and as a game design intern at Airtight Studios where he worked on Quantum Conundrum.
                </p>
            </div>
        </div>
        <div class="row text-left">
           <h2>Wyoming Telford</h2>
           <div class="col-md-2">

            <p class="about"><a href="http://github.com/justwyoming" target="_blank">GitHub</a></p>
            <p class="about"><a href="http://justwyoming.com" target="_blank">Portfolio</a></p>
        </div>
        <div class="col-md-10 col-xs-12">
            <p class="about">A natural fixer and ‘doer’ - Wyoming is drawn to high pressure creative industries. As a developer/designer and creative director Wyoming re-invigorates, elevates and produces results that are measurable, and ridiculously good looking. Wyoming’s latest obsession is the future of interactive design. She recently completed the Web Development Immersive at General Assembly, focused on front-end full-stack web development, specifically utilizing Javascript, Express, Node, Angular, and Ruby on Rails.</p>

            <p class="about">Wyoming loves new technology, new media, and food. Who doesn't love food?!</p>
        </div>
    </div>


        </div>
    </div>
</div>