<div class="container">
    <div class="row text-center welcome">
        <img class="img-responsive" style="width:80%; margin: 0 auto;" ng-src="/images/screengrab.png"><br><br>
    </div>
    <div class="row text-center">
        <div class="col-md-10 col-md-offset-1 col-xs-12">
            <h2 class="about">What is Sentiment Analysis?</h2>
            <p class="about">Sentiment Analysis is the science of evaluating text for positive or negative emotional bias. Humans are an information-gathering species. Perhaps the oldest behavior for gathering information is finding out what other people think and feel. In our digital age, the growing availability and popularity of opinion based resources (think online reviews, blogs, twitter, thumbs up/down voting) has resulted in an eruption of new ways to computationally analyze subjectivity, sentiments, and feelings - effectively 'Mood-Mining' our peers and social networks. </p>

            <h3 class="about">Project Details</h3>
            <p class="about">Our goal with Mood Mining was to create engaging visualization tools for subjective and somewhat abstract data sets. We used Twitter and Weather API’s and searched for “I feel” and “feeling” statements, filtered by region, and by current weather. After amassing our data, we passed all of our ‘feelings’ through an algorithm to evaluate the overall positive or negative score of each term. </p>
            <p class="about">For our Music visualization we varied our search terms slightly. We searched for “listening” and “listen” and further filtered the data with the top artists from the LastFm API, by metro region.  We then applied our sentiment algorithm to the statements from Twitter, related to artist, and evaluated the overall positive or negative response to each artist.</p>
        </div>
    </div>
</div>
