

<!-- <h1>SHOW PAGE</h1>
<div>dbInfo: {{dbInfo}}</div>
<hr>
<div>locationInfo: {{locationInfo}}</div>
<hr>
<div>scoreArray: {{scoreArray}}</div>
<hr>
<div>positiveArray: {{positiveArray}}</div>
<hr>
<div>negativeArray: {{negativeArray}}</div>
<hr>
<div>positiveCount: {{positiveCount}}</div>
<hr>
<div>negativeCount: {{negativeCount}}</div>
<hr>
<div>Tracks: {{metroTracks}}</div>
<hr>
<div>weather: {{metroWeather}}</div> -->
<div>
  <nvd3-scatter-chart
    data="exampleData"
    id="exampleId"
    width="550"
    height="400"
    tooltips="false"
    interactive="true"
    margin="{left:-1,right:0,top:0,bottom:0}"
    callback="chartLoaded"
    >
    <svg></svg>
  </nvd3-scatter-chart>
</div>
<!-- <div id="visualization"></div>
 -->