<div ng-if="currentWord" class="graph-tooltip" ng-style="{'left':mouse.x+'px','top':mouse.y+'px'}">
    {{currentWord}}
</div>
<div class="row">
<div ng-show="loading" style="color:white; text-align:center">Loading...</div>
    <div class="col-md-12 col-xs-12">
    <p class="about text-center">Bubble Chart showing the sentiments and feelings for a metro area, arranged by size for both positve and negative scores. </p>
    <div class="board"><br><br>

      <nvd3-scatter-chart
        data="exampleData"
        id="exampleId"
        width="550"
        height="400"
        tooltips="false"
        interactive="true"

        callback="chartLoaded"
        >
        <svg></svg>
      </nvd3-scatter-chart>
    </div>
    </div>
</div>

