
.nvd3 .nv-axis line {
  fill: none;
  stroke: none;
 /* shape-rendering: crispEdges;*/
}
/*
#vis{
    width: 100%;
    height: 100%;
    margin: 50px auto;

}
*/

#visualization {
  overflow: auto;
  background-color: #000;
}

circle.node {
  cursor: pointer;
  stroke: #000;
  stroke-width: .5px;
}
circle.node.directory {
  stroke: #9ecae1;
  stroke-width: 2px;
}
circle.node.collapsed {
  stroke: #555;
}
.nodetext {
  fill: #252929;
  font-weight: bold;
  text-shadow: 0 0 0.2em white;
}
line.link {
  fill: none;
  stroke: #9ecae1;
  stroke-width: 1.5px;
}

body {
    background-color: #000;
    font-family: 'Raleway', sans-serif;
}

.graph-tooltip{
    z-index:999;
    font-size: 2.75em;
    color:#ebfe1a;
    position: absolute;
}
.board{
    width: 100%;
    height: 80%;
    margin: 0 auto;
    border-radius: 100%;
}
.nav {
  margin-top: 10px;
}
.nav.nav-pills>li>a:hover {
  background-color: #01a4ff;

}
.nav.nav-pills>li>a {
 color: #ebfe1a;
 font-weight: 300;

}
ul.nav.nav-pills.navbar-right>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
  background-color: #f10083;
  color:#ebfe1a;

}
.search{
    margin-top: 10px;
    display:inline-block;
    color: #ebfe1a;
 font-weight: 300;
}
.btn-primary{
    background-color: #01a4ff;
    color: #ebfe1a;
 font-weight: 300;
}