
.nvd3 .nv-axis line {
  fill: none;
  stroke: none;
 /* shape-rendering: crispEdges;*/
}

body {
    background-color: #000;
}

.graph-tooltip{
    z-index:999;
    font-size: 40px;
    color:white;
    position: absolute;
}