
.nvd3 .nv-axis line {
  fill: none;
  stroke: none;
 /* shape-rendering: crispEdges;*/
}
/*
#vis{
    width: 100%;
    height: 100%;
    margin: 50px auto;

}
*/
body {
    background-color: #000;
    font-family: 'Raleway', sans-serif;
}

.graph-tooltip{
    z-index:999;
    font-size: 2.75em;
    color:#ebfe1a;
    position: absolute;
}
.board{
    width: 100%;
    height: 80%;
    margin: 0 auto;
    border-radius: 100%;
}
.nav {
  margin-top: 10px;
}
.nav.nav-pills>li>a:hover {
  background-color: #01a4ff;

}
.nav.nav-pills>li>a {
 color: #ebfe1a;
 font-weight: 300;

}
ul.nav.nav-pills.navbar-right>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
  background-color: #f10083;
  color:#ebfe1a;

}
.search{
    margin-top: 10px;
    display:inline-block;
    color: #ebfe1a;
 font-weight: 300;
}
.btn-primary{
    background-color: #01a4ff;
    color: #ebfe1a;
 font-weight: 300;
}