
.nvd3 .nv-axis line {
  fill: none;
  stroke: none;
 /* shape-rendering: crispEdges;*/
}

body {
  height:100%;
  background-color: #000;
}

svg {
  margin:0;
  padding:0;
  height: 300em;
  width: 300em;
}